header{
    .container-header{
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        padding: 15px;
        width: 100%;
    }
    .header-img{
        display: flex;
        height: 180px;
        justify-content: center;
        margin-bottom: 28px;
        margin-top: 14px;
    }
    .div-nav{
        display: flex;
        justify-content: flex-start;
        padding: 5px;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 44px;
        transition: all 0.2s;
    }
    nav ul li a{
        font-family: Poppins, sans-serif;
        color: #598B2C;
        text-transform: uppercase;
    }
    nav a:hover{
        color: #1e300f;
    }
}